extends layout

block content
  img#searchIcon(src='http://i.imgur.com/VKKm0pn.png', alt='Magnifying Glass')
  form(action='/', method='post')
    input#username(type='text', placeholder='Search Treehouse Student', name='username')
    input.button(type='submit', value='click')   

  p
    em ["elifloresdev","chalkers","Kenneth    love"]



