extends layout.pug

block content
  //- 'http://i.imgur.com/KMi72wU.png' default image
  #profile  
    img#avatar(src=`${student.gravatar_url}`, alt='Avatar')
    p
      span @#{student.name}
    ul
      li
        span #{student.badges.length}
        |  Badges earned
      li
        span #{student.points.JavaScript}
        |  JavaScript points

    form(action='/student/', method='post')
      input.button(type='submit', action='submit', value='Search New..') 
