@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    max-width: 462px;
    padding: 0 40px;
    font: 18px normal 'Varela Round', Helvetica, serif;
    color: #777B7E;
}

img {
    width: 100%;
}

#searchIcon, #avatar {
    width: 50%;
    border-radius: 50%;
    margin: 0 25% 0 25%;
}

input {
    font-family: 'Varela Round', Helvetica, serif;
    font-size: 18px;
    padding: 31px 0;
    margin: 10px 0;
    text-align: center;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    color: #2C3238;
}

#username {
    margin: 20px 0 0;
}

.button {
    border-color: #5FB6E1;
    background: #5FB6E1;
    color: #fff;
    width: 100%;
    margin-bottom: 0;
}

#error {
    width: 100%;
    padding: 22px 0;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}

#profile {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    padding: 40px 0 0;
    margin: -40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
}

li {
    display: inline-block;
    width: 100%;
    padding: 22px 0;
    margin: 0;
    border-top: 1px solid #D5DDE4;
}

a, a:visited {
    color: #5FB6E1;
    text-decoration: none;
}

span {
    color: #2C3238;
}

#footer {
    color: #6e6d6d;
    margin-top: 100px;
    padding: 20px 0;
    border-radius: 5px;
}
#footer img {
  width: 36px;
  height: 36px;
}
#footer a:visited {
    color: #6e6d6d;
}
